.card{
  font-family: sans-serif;
  text-align: center;
  background-image: url("/img/uno.jpg");
  max-width: 30rem;
  max-height: 20rem;
  display:block;
  margin:auto;
}

.completo{
  font-family: sans-serif;
  text-align: center;
  background-image: url("/img/fondo8.jpg");


}